doctype html
head
  meta(charset='utf-8')
  script(src='src/jquery.js')
  link(href='aboutus.sass', rel='stylesheet', type='text/css')
.back
  img(src='src/inner_page.png', style='display: none;')
  img(src='src/back.png', style='display: none;')
  .white
  #cover
    .top_div
      img#first(src='src/first.png', type='button', onclick='first()')
      img#table(src='src/table.png', type='button', onclick='table()')
      img#last(src='src/last.png', type='button', onclick='last()')
    #page_01(style='display: none;')
      #page_title_word 逆養成遊戲的初衷
      img#circle_1(src='src/circle1.png', type='button', onclick='goal()')
      img#circle_2(src='src/circle2.png', type='button', onclick='why()')
      img#circle_3(src='src/circle3.png', type='button', onclick='how()')
    #page_01_goal(style='display: none;')
      img#circle_4(src='src/circle1.png')
      img#box(src='src/box1.png')
      #intro 讓銀髮族多出外走走，預防慢性疾病，擁有健康的身心靈。
    #page_01_why(style='display: none;')
      img#circle_4(src='src/circle2.png')
      img#box(src='src/box2.png')
      #intro 我們想給銀髮族們最健康快樂的老年生活，越活越年輕!
    #page_01_how(style='display: none;')
      img#circle_4(src='src/circle3.png')
      img#box(src='src/box3.png')
      #intro 以任務的方式，誘導銀髮族出外互動，任務達成後，給予獎勵
    #page_02(style='display: none;')
      #page_title_word 成員介紹
      img#photo_1(src='src/photo/方藝璇.jpg', type='button', onclick='photo1()')
      #page_title_word(style='left: 25vh; top: 46.5vh; font-size: 3vh;') / 方藝璇
      img#photo_2(src='src/photo/范瑀文.jpg', type='button', onclick='photo2()')
      #page_title_word(style='left: 25vh; top: 70.5vh; font-size: 3vh;') / 范瑀文
    #page_02_01(style='display: none;')
      img#photo_big(src='src/photo/方藝璇.jpg')
      #name_big / 方藝璇
      img#intro_box(src='src/intro_box.png')
      #intro_big
        | 職位 | 設計師
        br
        |                         興趣 | 登山 探險 攀岩
        br
        |                         &emsp;&emsp;&nbsp;&thinsp;&thinsp;&thinsp;看書
        br
        |                         專長 | 插畫 平面設計
        br
        |                         負責 | 訪談 美術設計
    #page_02_02(style='display: none;')
      img#photo_big(src='src/photo/范瑀文.jpg')
      #name_big / 范瑀文
      img#intro_box(src='src/intro_box.png')
      #intro_big
        | 職位 | 設計師
        br
        |                         興趣 | 看電影.攝影
        br
        |                         專長 | 剪片.平面製作
        br
        |                         負責 | 介面美術設計
    #page_03(style='display: none;')
      #page_title_word 成員介紹
      img#photo_1(src='src/photo/張禾姈.jpg', type='button', onclick='photo3()')
      #page_title_word(style='left: 25vh; top: 46.5vh; font-size: 3vh;') / 張禾姈
      img#photo_2(src='src/photo/黃冠淳.jpg', type='button', onclick='photo4()')
      #page_title_word(style='left: 25vh; top: 70.5vh; font-size: 3vh;') / 黃冠淳
    #page_03_01(style='display: none;')
      img#photo_big(src='src/photo/張禾姈.jpg')
      #name_big / 張禾姈
      img#intro_box(src='src/intro_box.png')
      #intro_big
        | 職位 | 工程師
        br
        |                         興趣 | 密室逃脫
        br
        |                         &emsp;&emsp;&nbsp;&thinsp;&thinsp;&thinsp;解謎遊戲
        br
        |                         專長 | 物件導向設計
        br
        |                         負責 | 前端介面製作
    #page_03_02(style='display: none;')
      img#photo_big(src='src/photo/黃冠淳.jpg')
      #name_big / 黃冠淳
      img#intro_box(src='src/intro_box.png')
      #intro_big
        | 職位 | 工程師
        br
        |                         興趣 | 籃球 popping
        br
        |                         專長 | 最佳化設計
        br
        |                         負責 | 前端介面製作
    #page_04(style='display: none;')
      #page_title_word 成員介紹
      img#photo_1(src='src/photo/王鴻縉.jpg', type='button', onclick='photo5()')
      #page_title_word(style='left: 25vh; top: 46.5vh; font-size: 3vh;') / 王鴻縉
      img#photo_2(src='src/photo/邱明叡.jpg', type='button', onclick='photo6()')
      #page_title_word(style='left: 25vh; top: 70.5vh; font-size: 3vh;') / 邱明叡
    #page_04_01(style='display: none;')
      img#photo_big(src='src/photo/王鴻縉.jpg')
      #name_big / 王鴻縉
      img#intro_box(src='src/intro_box.png')
      #intro_big(style='width: 31vh; left: 7.5vh;')
        | 職位 | 工程師
        br
        |                         興趣 | 游泳 排球
        br
        |                         專長 | Android App設計
        br
        |                         負責 | 前端介面製作
    #page_04_02(style='display: none;')
      img#photo_big(src='src/photo/邱明叡.jpg')
      #name_big / 邱明叡
      img#intro_box(src='src/intro_box.png')
      #intro_big
        | 職位 | 工程師
        br
        |                         興趣 | 看電影 羽球
        br
        |                         &emsp;&emsp;&nbsp;&thinsp;&thinsp;&thinsp;逛市集
        br
        |                         專長 | 爬蟲 深度模型
        br
        |                         負責 | 後端撰寫
    #page_05(style='display: none;')
      #page_title_word 成員介紹
      img#photo_1(src='src/photo/郭庭嘉.jpg', type='button', onclick='photo7()')
      #page_title_word(style='left: 25vh; top: 46.5vh; font-size: 3vh;') / 郭庭嘉
    #page_05_01(style='display: none;')
      img#photo_big(src='src/photo/郭庭嘉.jpg')
      #name_big / 郭庭嘉
      img#intro_box(src='src/intro_box.png')
      #intro_big(style='width: 31vh; left: 7.5vh;')
        | 職位 | 工程師
        br
        |                         興趣 | 追劇 KPOP
        br
        |                         專長 | Deep Learning
        br
        |                         負責 | 後端撰寫
    #page_06(style='display: none;')
      #page_title_word(style='top: 25vh;') 最後...
      #page_title_word(style='left: 6vh; top: 35.5vh; font-size: 3vh;')
        | 感謝您下載本遊戲，
        br
        | 祝您有美好的遊戲體驗!
      img#group(src='src/photo/group.jpg')
    #page_07(style='display: none;')
      #page_title_word(style='left: 8vh; top: 42vh; font-size: 7vh;') 介紹完畢
      #page_title_word(style='left: 24vh; top: 50vh; font-size: 3vh;') The End
    .botton_div
      img#previous(src='src/previous.png', type='button', onclick='previous()')
      #page_number 00
      img#next(src='src/next.png', type='button', onclick='next()')
script(src='aboutus.js')
